*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #422972;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.first{
    width: 100%;
    height: 700px;
    background-image: url('https://img.freepik.com/free-vector/3d-earth-graphic-symbolizing-global-trade-illustration_456031-125.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
}
.right{
    color: white;
    padding-left: 50px;
    padding-top: 20%;
    padding-right: 20px;
   
}
.right h1{
    font-size: 120px;
    
}
footer{
   padding: 30px;
   text-align: center;
    color: white;
    background-color: #422972;
}
img{
    width: 40%;
    border-radius: 10px;
}
.service{
    padding: 50px;
    text-align: center;
    background-color: #4f2f8b;
    color: white;
}
.service h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.container{
    display: flex;
}
.service p{
    padding: 30px;
    font-size: 20px;
}
.about-yopi{
    background-color: #311b5a;
    padding: 15%;
    text-align: center;
    color: white;
}
.about-yopi h1{
    font-size: 60px;
    padding: 10px;
}
.about-yopi p{
    font-size: 20px;
}

.road-yopi{
    background-color: #311b5a;
    padding: 18%;
    text-align: center;
    color: white;
}
.road-yopi{
    font-size: 100px;
}